@import "tailwindcss";

:root {
  --theme-dark: #0000;
  --theme-soil: #180000;
  --theme-dark-steel: #181818;
  --theme-sea-sponge: #D8C060;
  --theme-lemoncholy: #F0D878;
}

html,
body {
  min-height: 100%;
  background-color: var(--theme-soil);
  color: var(--chakra-colors-app-fg);
}

body {
  background-color: var(--theme-soil);
}

::selection {
  background: var(--chakra-colors-brand-500);
  color: var(--chakra-colors-brand-50);
}

#map-container {
  height: 100%;
  width: 100%;
  background-color: var(--chakra-colors-stout-950);
}